$background-colour: #f4f1ec;
$navy-blue: #4056A1;
$dark-red: #a92a2a;
$shadow-grey: #545149;
$golden-yellow: #cb9815;

@mixin flexXYcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}