$background-colour: #f4f1ec;
$navy-blue: #4056A1;
$dark-red: #582b2b;
$shadow-grey: #545149;
$golden-yellow: #cb9815;

/* Mobile Styles */

.user-header {
  display: flex;
  height: 25rem;
  padding-top: 3.5rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $golden-yellow;
  background-image: url("https://www.transparenttextures.com/patterns/tex2res4.png");
}

header p {
  margin-top: -1.25rem;
  font-size: 2rem;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {

}

/* Desktoop Styles */

@media only screen and (min-width: 1024px) {

  .user-header {
    width: 30%;
    margin: 3rem 1rem 0 1rem;

  }

}