@use 'presets';

/* Mobile Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  width: 100%;
  color: presets.$background-colour;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;

  span {
    font-family: 'Bungee';
  }
}

.toggle {
  @include presets.flexXYcenter();
  flex-direction: column;
}

#toggle-btn {
  position: relative;
  bottom: 0;
  transition: bottom ease 0.5s;
  color: presets.$dark-red;
  margin-top: -1.25rem;

  &:hover {
    color: presets.$navy-blue;
    bottom: -0.625rem;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {

  nav {
    background: presets.$navy-blue;
  }

  #toggle-btn:hover {
    color: presets.$golden-yellow;
    bottom: -0.625rem;
  }

}