@use 'presets';

/* Mobile Styles */
article.tweet {
  height: auto;
  width: 100%;
  border: 0.12rem;
  border-color: black;
  border-style: solid;
  padding: 1rem;
  margin: 1rem auto;

  &:hover {
    box-shadow: 7px 7px presets.$shadow-grey;
  }

  header {
    @include presets.flexXYcenter();
    justify-content: space-between;
    width: 100%;

    div {
      @include presets.flexXYcenter();

      img {
        margin-right: 0.5em;
      }
    }
  }

  section.existing-tweet {
    overflow-wrap: break-word;
    height: auto;
    width: 100%;
    font-size: 1.3rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.13rem;
    border-color: black;
    border-style: solid;
  }

  footer {
    @include presets.flexXYcenter();
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 100%;
    font-size: small;
  }
}

.icons {
  font-size: medium;
  color: presets.$navy-blue;
}

#flag:hover, #like:hover, #retweet:hover {
  color: presets.$golden-yellow;
}

#tweets-container {
  width: 100%;
  margin: 0 auto;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  #tweets-container{
    width: 90%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  #tweets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  article.tweet {
    width: 90%;
    margin: 1rem auto;
  }
}