/* Mobile Styles */
.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25rem;
  padding-top: 3.5rem;
  width: 100%;
  background-color: #cb9815;
  background-image: url("https://www.transparenttextures.com/patterns/tex2res4.png");
}

header p {
  margin-top: -1.25rem;
  font-size: 2rem;
}

/* Desktoop Styles */
@media only screen and (min-width: 1024px) {
  .user-header {
    width: 30%;
    margin: 2rem 0 0 2.5rem;
  }
}
