nav {
  top: 0;
  position: fixed;
  display: flex;
  height: 120px;
  width: 100%;
  /* background: #273976; */
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav span {
  font-family: 'Bungee';
}

nav i {
  color: white;
  margin-top: -20px;
}

#toggle-btn {
  position: relative;
  bottom: 0;
  transition: bottom ease 0.5s;
}

#toggle-btn:hover {
  color: #4056A1;
  bottom: -10px;
}