/* Mobile Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  width: 100%;
  color: #f4f1ec;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
}
nav span {
  font-family: "Bungee";
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#toggle-btn {
  position: relative;
  bottom: 0;
  transition: bottom ease 0.5s;
  color: #a92a2a;
  margin-top: -1.25rem;
}
#toggle-btn:hover {
  color: #4056A1;
  bottom: -0.625rem;
}

/* Tablet Styles */
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  nav {
    background: #4056A1;
  }
  #toggle-btn:hover {
    color: #cb9815;
    bottom: -0.625rem;
  }
}
