main section.compose-tweet {
  display: none;
  height: auto;
  width: 100%;
  padding: 15px;
  margin: 20px;
}

main textarea {
  height: 50px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px;
  border-color: black;
  border-style: solid;
  background-color: #f4f1ec;
  font-size: medium;
  padding: 10px;
}

.button-counter {
  width: 100%;
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
}

.negative-warning {
  color: #b01515;
}

main button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: white;
}

.emsg {
  display: none;
  background-color: #f1cfcf;
  color: #582b2b;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: 600;
  border: 1px;
  border-style: dotted;
  border-color: #481f1f;
}
