/* Mobile Styles */
article.tweet {
  height: auto;
  width: 100%;
  border: 0.12rem;
  border-color: black;
  border-style: solid;
  padding: 1rem;
  margin: 1rem auto;
}
article.tweet header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
article.tweet section.existing-tweet {
  overflow-wrap: break-word;
  height: auto;
  width: 100%;
  font-size: 1.3rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.13rem;
  border-color: black;
  border-style: solid;
}
article.tweet footer {
  display: flex;
  margin-top: 0.2rem;
  width: 100%;
  justify-content: space-between;
  font-size: small;
}

article.tweet:hover {
  box-shadow: 7px 7px #545149;
}

.icons {
  font-size: medium;
  color: #4056A1;
}

#flag:hover, #like:hover, #retweet:hover {
  color: #cb9815;
}

#tweets-container {
  width: 100%;
  margin: 0 auto;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  #tweets-container {
    width: 90%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  #tweets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  article.tweet {
    width: 90%;
    margin: 1rem auto;
  }
}
